* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
}

main {
  position: relative;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  width: 100vw;
  min-height: 100vh;
}
